appdirs==1.4.4
beautifulsoup4==4.9.3
black==21.5b2
certifi==2021.5.30
chardet==4.0.0
click==8.0.1
Flask==2.0.1
Flask-Cors==3.0.10
Flask-Limiter==1.4
gunicorn==20.1.0
idna==2.10
itsdangerous==2.0.1
Jinja2==3.0.1
limits==1.5.1
MarkupSafe==2.0.1
mypy-extensions==0.4.3
pathspec==0.8.1
regex==2021.4.4
requests==2.25.1
requests-cache==0.6.4
six==1.16.0
soupsieve==2.2.1
toml==0.10.2
url-normalize==1.4.3
urllib3==1.26.5
Werkzeug==2.0.1
